<nav class="navbar bg-dark">
{{ form_start(locale_form) }}
    {{ form_errors(locale_form) }}
    {{ form_widget(locale_form) }}
<button>{{ 'website.global.select' | trans }}</button>
{{ form_end(locale_form) }}
</nav>