{% extends 'base.html.twig' %}

{% block title %}Liste des publications{% endblock %}

{% block body %}
<div class="menu"><a href="{{ path('app_post_create') }}">Ajouter</a></div>

<ul>
    {% for post in posts %}
        <li>{{ loop.index }}<a href="{{ path('app_post_show', {id: post.id}) }}">{{ post.title }}</a></li>
        {% else %}
        <li>Pas de publication, en <a href="{{ path('app_post_create') }}">créer</a> une</li>
    {% endfor %}
</ul>

{% endblock %}
